@import '/src/style/Style.scss';
.apartment-stars{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cfcfcf;
  gap: 0.7rem;
  width: 2px;
  margin-top: 25px;
  margin-left: 38px;
  @media screen and (width <= 768px) {
    gap: 0.4rem;
    margin-left: 60px;
    margin-top: 15px;
  }
}
.star-img{
  width: 24px;
  @media screen and (width <= 768px) {
    width: 17px;
  }
}