@import '/src/style/Style.scss';
.main{
  padding-inline: 3rem;
  margin-bottom: 3rem;
  min-height: 60vh;
  @media screen and (width <= 768px) {
    padding-inline: 1.3rem;
    min-height: 20vh;
    margin-bottom: 1.2rem;
  }
}
