@import '../style/Style.scss';
.error-title{
text-align: center;
color: $main-color;
font-size: 200px;
margin-bottom: 2.5rem;
}
.error-subtitle{
  text-align: center;
  color: $main-color;
  margin-bottom: 4rem;
  font-weight: 200;
}
.error-link{
  text-align: center;
  color: $main-color;
  &:hover{
    text-decoration: underline;
  }
}