@import '/src/style/Style.scss';
.apartment{
  .apartment-header{
    display: flex;
    margin-bottom: 2rem;
    gap: 1rem;
    @media screen and (width <= 768px) {
      flex-direction: column;
      gap: 0;
    }
    .apartment-title{
      flex-grow: 1;
      color: $main-color;
      h1{
        font-size: 35px;
      }
      h2{
        font-size: 18px;
      }
      @media screen and (width <= 768px) {
      h1{
        font-size: 20px;
        width: 300px;
      }
      h2{
        font-size: 16px;
      }
     }
    }
    .apartment-owner{
      display: flex;
      flex-direction: column;
      margin-top: 15px;
      @media screen and (width <= 768px) {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
      }
    }
    .apartment-details{
      display: flex;
      gap: 0.5rem;
      color: $main-color;
      @media screen and (width <= 768px) {
        order: 1;
      }
    }
    .apartment-badge img{
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: #cfcfcf;
      @media screen and (width <= 768px) {
        width: 45px;
        height: 45px;
      }
    }
    h3{
      margin-block: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-size: 16px;
      font-weight: 400;
    }
  }
  & .apartment-tags{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
    gap: 1rem;
    @media screen and (width <= 768px) {
      grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
      gap: 0.6rem;
    }
    span {
      background-color: $main-color;
      color: $white;
      padding: 0.3em 0.5em;
      border-radius: 0.5rem;
      text-align: center;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (width <= 768px) {
        font-size: 12px;
        width: 100%;
        padding: 2px;
        border-radius: 6px;
        
      }
    }
  }
    
}