@import '/src/style/Style.scss';
.apartment{
  .apartment-header{
    display: flex;
    margin-bottom: 2rem;
    gap: 1rem;
    @media screen and (width <= 768px) {
      flex-direction: column;
    }
    .apartment-title{
      flex-grow: 1;
      color: $main-color;
      h1{
        font-size: 35px;
      }
      h2{
        font-size: 18px;
      }
      @media screen and (width <= 768px) {
      h1{
        font-size: 28px;
      }
      h2{
        font-size: 14px;
      }
     }
    }
    .apartment-owner{
      display: flex;
      flex-direction: column;
      @media screen and (width <= 768px) {
        flex-direction: row;
        justify-content: space-between;
      }
    }
    .apartment-details{
      display: flex;
      gap: 0.5rem;
      color: $main-color;
      @media screen and (width <= 768px) {
        order: 1;
      }
    }
    .apartment-badge img{
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: #cfcfcf;
    }
    h3{
      margin-block: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-size: 16px;
      font-weight: 400;
    }
  }
  & .apartment-tags{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
    gap: 1rem;
    span {
      background-color: $main-color;
      color: $white;
      padding: 0.3em 0.5em;
      border-radius: 0.5rem;
      text-align: center;
      font-size: 14px;
      @media screen and (width <= 768px) {
        font-size: 12px;
      }
    }
  }
    
}