@import '../Style.scss';

.banner {
    max-width: $max-width-body;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $second-color;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 40px;

    img {
        width: 100%;
        height: auto;
        max-height: 223px;
        object-fit: cover;
        position: relative;
        border-radius: 25px;
        opacity: 0.7;
    }
    
    h1 {
        color: $white;
        position: absolute;
        align-self: center;
        padding: 35px;
        font-weight: 500;
        font-size: 45px ;

    }   
}

@media (max-width: $breakpoint-mobile) {
    .banner {
        h1 {
            font-size: 1.5rem;
        }
    }
  }