.card{
  background-color: rgb(218, 218, 218);
  min-height: 50vh;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;
}
@media screen and (width <= 768px) {
  .card{
    justify-content: center;
    background-color: white;
    padding: 0;
  }
}
  
