
.apartment-description{
  margin-bottom: 1rem;
  flex-basis: 50%;
  overflow: hidden;

  p{
    margin-block: 0em;
    font-size: 20px;
    color: #ff6060;
  }
  .description{
    background-color: #ff6060;
    color: white;
    padding-block: 0.7rem;
    padding-inline: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
  }
  .content{
    position: relative;
    top: -0.3rem;
    z-index: -1;
    background-color: #F6F6F6;
    border-radius: 10px;
    padding: 1rem;
    animation: slide-in 0.3s ease-in-out;
  }
  .fa-chevron-up{
    color: white;
    font-size: 25px;
    cursor: pointer;
    transform: rotate(0deg); 
    transition: transform 1s ease;
  }
  .fa-chevron-down {
    color: white;
    font-size: 25px;
    cursor: pointer;
    transform: rotate(1deg); 
    transition: transform 1s ease;
  }
}
.apartment-area{
  display: flex;
  gap: 1rem;
  overflow: hidden;
  @media screen and (width <= 768px) {
    flex-direction: column;
  }
}

@keyframes slide-in {
0% {
  transform: translateY(-100%);
}
100% {
  transform: translateX(0);
}
}