.navbar{
  align-items: center;
  padding: 0 2rem;
  color: #ff6060;
  gap: 2rem;
  @media screen and (width <= 768px) {
    text-transform: uppercase;
    font-weight: 400;
  }
  display: flex;
  justify-content: space-between;
  & a {
  text-decoration: none;
  color: #ff6060 ;
   &.active{
  text-decoration: underline;
      }
  &:hover{
  text-decoration: underline;
      }
  & > *:first-child{
  margin-right: auto;
      }
   }
  }
.logo-kasa{
  width: 60%;
  margin-top: 20px;
  margin-left: 20px;
}
.buttons-menu{
  display: flex;
  align-items: center;
  gap: 3rem;
  width: 305px;
}

