.navbar{
  align-items: center;
  padding: 0 2rem;
  color: #ff6060;
  gap: 2rem;
  display: flex;
  justify-content: space-between;
}
.logo-kasa{
  width: 60%;
  margin-top: 20px;
  margin-left: 20px;
}
.buttons-menu{
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 305px;
}
.link-menu{
  margin-top: 50px;
  margin-left:50px;
  position: relative;
  height: 19px;
  font-size: 1.1vw;
}
.link-menu a{
  transition: .3s;
}
.link-menu::after{
  content: "";
  height: 1px;
  width: 100%;
  background-color: #ff6060;
  top: 21px;
  left: 0;
  position: absolute;
  transform:scaleX(0);
  transition: 0.3s; 
}
.link-menu:hover a{
  color: #ff6060;
}
.link-menu:hover::after{
  transform: scaleX(1);
}
